### Basic pandas operations using Pokemon dataset

In [3]:
import pandas as pd

In [9]:
#Load the Dataset
df = pd.read_csv("pokemon_data .csv")

In [13]:
# View first 5 rows
print("First 5 Pok√©mon:")
print(df.head())

üîπ First 5 Pok√©mon:
   #                   Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  \
0  1              Bulbasaur  Grass  Poison  45      49       49       65
1  2                Ivysaur  Grass  Poison  60      62       63       80
2  3               Venusaur  Grass  Poison  80      82       83      100
3  3  VenusaurMega Venusaur  Grass  Poison  80     100      123      122
4  4             Charmander   Fire     NaN  39      52       43       60

   Sp. Def  Speed  Generation  Legendary
0       65     45           1      False
1       80     60           1      False
2      100     80           1      False
3      120     80           1      False
4       50     65           1      False

In [15]:
# View last 3 rows
print("\n Last 3 Pok√©mon:")
print(df.tail(3))

 Last 3 Pok√©mon:
       #                 Name   Type 1 Type 2  HP  Attack  Defense  Sp. Atk  \
797  720  HoopaHoopa Confined  Psychic  Ghost  80     110       60      150
798  720   HoopaHoopa Unbound  Psychic   Dark  80     160       60      170
799  721            Volcanion     Fire  Water  80     110      120      130

     Sp. Def  Speed  Generation  Legendary
797      130     70           6       True
798      130     80           6       True
799       90     70           6       True

In [53]:
print("\nShape (Rows, Columns):", df.shape)
print("\nData Types:\n", df.dtypes)
print("\nInfo:\n")
df.info()

Shape (Rows, Columns): (800, 12)

Data Types:
 #             int64
Name         object
Type 1       object
Type 2       object
HP            int32
Attack        int64
Sp. Atk       int64
Sp. Def       int64
Speed         int64
Legendary      bool
Total         int64
BOOST         int64
dtype: object

Info:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 12 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   #          800 non-null    int64
 1   Name       800 non-null    object
 2   Type 1     800 non-null    object
 3   Type 2     414 non-null    object
 4   HP         800 non-null    int32
 5   Attack     800 non-null    int64
 6   Sp. Atk    800 non-null    int64
 7   Sp. Def    800 non-null    int64
 8   Speed      800 non-null    int64
 9   Legendary  800 non-null    bool
 10  Total      800 non-null    int64
 11  BOOST      800 non-null    int64
dtypes: bool(1), int32(1), int64(7), object(3)
memory usage: 66.5+ KB

In [17]:
# Check column names
print("\nColumns:")
print(df.columns)

Columns:
Index(['#', 'Name', 'Type 1', 'Type 2', 'HP', 'Attack', 'Defense', 'Sp. Atk',
       'Sp. Def', 'Speed', 'Generation', 'Legendary'],
      dtype='object')

In [55]:
# Read specific columns
print("\nName column:\n", df['Name'].head())
print("\nName & HP columns:\n", df[['Name', 'HP']].head())

Name column:
 0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
Name: Name, dtype: object

Name & HP columns:
                     Name  HP
0              Bulbasaur  45
1                Ivysaur  60
2               Venusaur  80
3  VenusaurMega Venusaur  80
4             Charmander  39

In [19]:
# Accessing data
print("\n First 6 Pok√©mon names:")
print(df['Name'][0:6])

 First 6 Pok√©mon names:
0                Bulbasaur
1                  Ivysaur
2                 Venusaur
3    VenusaurMega Venusaur
4               Charmander
5               Charmeleon
Name: Name, dtype: object

In [23]:
# Access rows and cells
print("\nRow 1:")
print(df.iloc[1])

Row 1:
#                   2
Name          Ivysaur
Type 1          Grass
Type 2         Poison
HP                 60
Attack             62
Defense            63
Sp. Atk            80
Sp. Def            80
Speed              60
Generation          1
Legendary       False
Name: 1, dtype: object

In [25]:
print("\nName of Row 1 Pok√©mon:")
print(df.iloc[1, 1])

Name of Row 1 Pok√©mon:
Ivysaur

In [27]:
# Filter Pok√©mon with 'Fighting' as Type 2 and HP < 70
filtered = df[(df['Type 2'] == "Fighting") & (df['HP'] < 70)]
print(filtered[['Name', 'Type 2', 'HP']])

                    Name    Type 2  HP
277            Combusken  Fighting  60
310              Breloom  Fighting  60
436             Monferno  Fighting  64
476  LopunnyMega Lopunny  Fighting  65
503             Croagunk  Fighting  48
526              Gallade  Fighting  68
527  GalladeMega Gallade  Fighting  68
620              Scraggy  Fighting  50
621              Scrafty  Fighting  65

In [29]:
# Stats summary
print("\nDescription:")
print(df.describe())

Description:
                #          HP      Attack     Defense     Sp. Atk     Sp. Def  \
count  800.000000  800.000000  800.000000  800.000000  800.000000  800.000000
mean   362.813750   69.258750   79.001250   73.842500   72.820000   71.902500
std    208.343798   25.534669   32.457366   31.183501   32.722294   27.828916
min      1.000000    1.000000    5.000000    5.000000   10.000000   20.000000
25%    184.750000   50.000000   55.000000   50.000000   49.750000   50.000000
50%    364.500000   65.000000   75.000000   70.000000   65.000000   70.000000
75%    539.250000   80.000000  100.000000   90.000000   95.000000   90.000000
max    721.000000  255.000000  190.000000  230.000000  194.000000  230.000000

            Speed  Generation
count  800.000000   800.00000
mean    68.277500     3.32375
std     29.060474     1.66129
min      5.000000     1.00000
25%     45.000000     2.00000
50%     65.000000     3.00000
75%     90.000000     5.00000
max    180.000000     6.00000

In [57]:
#  Add a column 'Total'(HP + Attack + Speed)
df['Total'] = df['HP'] + df['Attack'] + df['Speed']
print("\nNew column added:\n", df[['Name', 'Total',]].head())

New column added:
                     Name  Total
0              Bulbasaur    139
1                Ivysaur    182
2               Venusaur    242
3  VenusaurMega Venusaur    260
4             Charmander    156

In [35]:
# Pok√©mon with max and lowest Total stat
print(df.loc[df['Total'].idxmax()][['Name', 'Total']])
print(df.loc[df['Total'].idxmin()][['Name', 'Total']])

Name     MewtwoMega Mewtwo X
Total                    426
Name: 163, dtype: object
Name     Shuckle
Total         35
Name: 230, dtype: object

In [37]:
# Top 5 Pok√©mon by Total stat
print(df.nlargest(5, 'Total')[['Name', 'Total', 'Speed']])

print(df.nsmallest(5, 'Total')[['Name', 'Total', 'Speed']])

                      Name  Total  Speed
163    MewtwoMega Mewtwo X    426    130
313                Slaking    410    100
426  RayquazaMega Rayquaza    400    115
164    MewtwoMega Mewtwo Y    396    140
711     KyuremBlack Kyurem    390     95
          Name  Total  Speed
230    Shuckle     35      5
189     Togepi     75     20
388    Duskull     85     25
446  Kricketot     87     25
187     Cleffa     90     15

In [39]:
# Drop unwanted columns
df.drop(columns=['Generation', 'Defense'], inplace=True)

In [59]:
# Handle nulls
print("\nMissing values:\n", df.isnull().sum())
df['HP'] = df['HP'].fillna(0)  # Fill HP nulls
df.dropna(inplace=True)        # Drop remaining rows with NaN

Missing values:
 #              0
Name           0
Type 1         0
Type 2       386
HP             0
Attack         0
Sp. Atk        0
Sp. Def        0
Speed          0
Legendary      0
Total          0
BOOST          0
dtype: int64

In [41]:
# Add 'Power' (HP + Attack)
df['Power'] = df['HP'] + df['Attack']
print(df[['Name', 'HP', 'Attack', 'Power']].head())

                    Name  HP  Attack  Power
0              Bulbasaur  45      49     94
1                Ivysaur  60      62    122
2               Venusaur  80      82    162
3  VenusaurMega Venusaur  80     100    180
4             Charmander  39      52     91

In [43]:
# Drop rows where value of HP is null
df = df.dropna(subset = ['HP'])

In [45]:
# Rename column Name
df.rename(columns = {'Power':'BOOST'}, inplace = True)

In [61]:
# Drop duplicates
df.drop_duplicates(subset='Name', inplace=True)

In [47]:
# Change datatype
df['HP'] = df['HP'].astype('int')

In [49]:
# View duplicated values
df[df.duplicated()]

Empty DataFrame
Columns: [#, Name, Type 1, Type 2, HP, Attack, Sp. Atk, Sp. Def, Speed, Legendary, Total, BOOST]
Index: []

In [63]:
df.reset_index(drop = True)

,#,Name,Type 1,Type 2,HP,Attack,Sp. Atk,Sp. Def,Speed,Legendary,Total,BOOST
0,1,Bulbasaur,Grass,Poison,45,49,65,65,45,False,139,94
1,2,Ivysaur,Grass,Poison,60,62,80,80,60,False,182,122
2,3,Venusaur,Grass,Poison,80,82,100,100,80,False,242,162
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,122,120,80,False,260,180
4,6,Charizard,Fire,Flying,78,84,109,85,100,False,262,162
...,...,...,...,...,...,...,...,...,...,...,...,...
409,719,Diancie,Rock,Fairy,50,100,100,150,50,True,200,150
410,719,DiancieMega Diancie,Rock,Fairy,50,160,160,110,110,True,320,210
411,720,HoopaHoopa Confined,Psychic,Ghost,80,110,150,130,70,True,260,190
412,720,HoopaHoopa Unbound,Psychic,Dark,80,160,170,130,80,True,320,240
413,721,Volcanion,Fire,Water,80,110,130,90,70,True,260,190

In [65]:
# Export cleaned version
df.to_csv('pokemon_cleaned_basic.csv', index=False)

In [67]:
print("\n Basic pandas operations done!")

 Basic pandas operations done!